.sidebar {
  background-color: white;
  width: 70px;
  position: fixed;
  top: 55px;
  left: 0px;
  bottom: 0px;
  z-index: 100;
}

.sidebar-link {
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  margin: 5px 5px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(241, 241, 241);
}

.sidebar-icon {
  width: 23px;
}

.sidebar-text {
  font-size: 9px;
  margin-top: 5px;
}